body {
  padding: 10%;
  font-size: 2em;
  font-family: monospace;
}

input,button {
  font: inherit;
}


/* p {
  text-decoration: underline;
  text-indent: 4em;
  text-align: left;
  text-transform: uppercase;
} */


p {
  line-height: 2;
  font-weight:lighter;
  font-style: normal;
  text-decoration: none;
  text-indent:2em;
  text-align: left;
}
