html {
  font-family: monospace;
  font-size: 16px;
}
body {
}

p {
  color: red;
}
/*branching stuffs
in this example css will look for available spans inside paragraphs*/
span {
  text-transform: uppercase;
  background-color: gold;
}
/*group selectors*/
h1,
h2 {
  color: blue;
}
.grey {
  color: grey;
}

#second {
  font-style: italic;
}
